<div class="container">   

    <div class="divider-new">
        <h2 class="h2-responsive">Hello, stranger!</h2>
    </div>
    <!--First Row--> 
    <div class="row">
        <!-- First column-->
        <div class="col-md-4">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://static.pexels.com/photos/291762/pexels-photo-291762.jpeg" class="img-fluid" alt="">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->
                   <!--Button-->
                <a class="btn-floating btn-action" href="<%= edit_cart_path(@cart) %>"><i class="fa fa-chevron-right"></i></a>
                <!--Card content-->
                <div class="card-block">
                  
                    <!--Title-->
                    <h4 class="card-title">Your cart</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--/First column-->

        <br />

        <!-- Second column-->  
        <div class="col-md-4">
            <!--Card-->
            <div class="card  hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://static.pexels.com/photos/298864/pexels-photo-298864.jpeg" class="img-fluid" alt="">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->

                   <!--Button-->
                <a class="btn-floating btn-action"><i class="fa fa-chevron-right"></i></a>
                <!--Card content-->
                <div class="card-block">
                  
                    <!--Title-->
                    <h4 class="card-title">Your wish list</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card Dark-->
        </div>

        <!--/Second column-->  

        <br />

        <!--Third column-->  
        <div class="col-md-4">
            <!--Card-->
            <div class="card hoverable">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://images.pexels.com/photos/7101/wood-coffee-iphone-notebook.jpg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-fluid" alt="">
                    <a>
                        <div class="mask waves-effect waves-light"></div>
                    </a>
                </div>
                <!--/.Card image-->

                <!--Button-->
                <a class="btn-floating btn-action"><i class="fa fa-chevron-right"></i></a>

                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">Your profile details</h4>
                    <hr>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <!--/.Card content-->
            </div>
            <!--/.Card-->
        </div>
        <!--/Third column-->
    </div>
    <!--/First Row--> 
    <br /> 

    <br /> 

    <hr class="between-sections">

    <!--Second Row--> 
    <div class="row">
        <!--Recent orders--> 
        <div class="col-md-12">
            <!--Panel-->
            <div class="card card-block">
                <h4 class="card-title">Your Recent Orders</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="flex-row">
                    <a class="card-link">Card link</a>
                    <a class="card-link">Another link</a>
                </div>
            </div>
            <!--/.Panel-->
        </div>
        <!--/Recent orders--> 
    </div>
    <!--/Second Row--> 

    <br /> 

    <br /> 

    <hr class="between-sections">

    <!--Third Row--> 
    <div class="row">
        <!--User reviews--> 
        <div class="col-md-12">
            <!--Panel-->
            <div class="card card-block">
                <h4 class="card-title">Your product reviews</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="flex-row">
                    <a class="card-link">Card link</a>
                    <a class="card-link">Another link</a>
                </div>
            </div>
            <!--/.Panel-->
        </div>
        <!--/User reviews--> 
    </div>
    <!--/Third Row--> 

    <br /> 

    <br /> 
    
</div>
