<div class="container">
    <div class="divider-new">
        <h2 class="h2-responsive">Delivery Terms&Conditions</h2>
    </div>
    <section class="section">

        <!--Section heading-->
        <h1 class="section-heading wow fadeIn" data-wow-delay="0.2s"></h1>
            <!--Section description-->
            <p class="section-description wow fadeIn" data-wow-delay="0.4s">Hello there! Nice to see you againe!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lectus neque, dignissim non metus sed, tincidunt pretium nibh. Maecenas porttitor urna eget tortor porta, vitae egestas arcu lacinia. Nulla ultrices semper augue eget lacinia. Quisque sollicitudin, sem sit amet finibus ullamcorper, dui tortor finibus odio, ut cursus neque orci porta orci. Nulla commodo, sapien et interdum porttitor, augue justo posuere eros, eget gravida felis erat a ex. Sed id sapien non orci aliquet varius. Fusce diam felis, vehicula euismod leo eget, tristique varius arcu. Ut non leo consectetur, bibendum est nec, sodales tellus. Suspendisse vulputate eros eu sem porta mattis sed nec risus.</p>

            <p>Maecenas eu molestie ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur enim ex, pellentesque viverra purus nec, sollicitudin lacinia felis. Duis sollicitudin nec enim quis sollicitudin. Etiam egestas id orci vel dignissim. Praesent quis gravida ligula. Ut neque nibh, viverra eu cursus id, faucibus et odio. Nunc dictum ultricies vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a neque in nibh venenatis mollis ut id magna. Ut sit amet massa neque. Praesent turpis ante, eleifend vel accumsan vel, pharetra facilisis eros. Nunc tincidunt massa volutpat nulla vehicula cursus. Sed volutpat risus leo. Vestibulum pellentesque ut leo et sodales.</p>

            <p>Aenean feugiat tellus nulla. Fusce viverra magna suscipit nisl condimentum vestibulum. Cras et malesuada massa. Aenean placerat leo urna, at congue odio pulvinar sit amet. Vestibulum vitae neque ligula. In ullamcorper tellus ipsum, sit amet faucibus erat auctor sed. Vivamus lacinia risus ut justo euismod, ac pharetra est molestie. Curabitur volutpat dapibus velit, vitae auctor magna tincidunt ut. Mauris ac dignissim dui. Donec convallis urna lectus, non porta lectus placerat volutpat. Nunc pulvinar, erat quis pulvinar aliquam, metus nunc laoreet magna, non malesuada magna mauris in libero. Phasellus dictum, lacus ac porta elementum, lacus elit luctus nibh, at sollicitudin nulla velit nec massa. Proin ante ipsum, dapibus nec tincidunt lacinia, faucibus id nulla. Curabitur luctus erat eget nisl tempor tempor vitae a lectus. Aenean sed venenatis libero, et tincidunt est.</p>

      </section>
    <hr class="between-sections">
</div>