<p>
  <strong>Email from:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>

<%= link_to 'Back to contacts', contacts_path, class: "btn btn-primary btn-xs active" %>
