


  <h3>Your Cart</h3>
  <table class="table">
  <thead class="thead-inverse">
      <tr>
        <td>Qty</td>
        <td>Title</td>
        <td>Amount</td>
        
      </tr>
    </thead>
    <%= render(cart.line_items) %>

    <tr class="total_line">
      <td colspan="2">Total:  </td>
      <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
    </tr>
  </table>
<table>
<tr><td>
  <%= link_to 'CHECK OUT', new_order_path, method: :get, class: "btn btn-outline-success waves-effect btn-sm", role: "button", style: "width: 110px"  %></td>
  <td class="text-right"><%= link_to 'EMPTY CART', cart, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-outline-warning waves-effect btn-sm", role: "button", style: "width: 110px"  %></td></tr></table>


